.search-bar-box {
  width: 333px;
  height: 63px;
  border-radius: 4px;
  background-color: #ffce6d;
  border: 1px solid #ec9f09;
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.searchInp {
  background-color: #ffce6d;
  border: none;
  color: #141140;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}
.searchInp:focus {
  outline: none;
  box-shadow: none;
}
